/*----- COMPONENTS : BLOBS ----- */


#main-content {
  #blob-lg-one {
    display: none;
  }

  #blob-lg-two {
    display: none;
  }


  #blob-sm-one {
    width: 166px;
    height: 150px;
    position: fixed;
    bottom: 40px;
    left: -20px;
  }

  #blob-sm-rsvp {
    position: fixed;
    right: -20px;
    top: 48vh;
    z-index: 1;
    width: 177px;
    height: 153px;
  }
}

#landing-page {
  #blob-sm-one {
    position: fixed;
    top: 30px;
    left: -50px;
    width: 330px;
    height: 298px;
  }

  #blob-sm-rsvp {
    position: fixed;
    right: -20px;
    bottom: 0;
    z-index: 1;
    width: 177px;
    height: 153px;
  }

  #blob-lg-one, #blob-lg-two {
    display: none;
  }
}


@media (min-width: $sm-screen) {
  #main-content {

    #blob-sm-one {
      width: 475px;
      height: 430px;
      position: fixed;
      bottom: 10px;
      left: -20px;
    }

    #blob-sm-rsvp {
      position: fixed;
      right: -40px;
      top: 40vh;
      z-index: 1;
      width: 288px;
      height: 249px;
    }
  }

} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  #main-content {
    #blob-sm-one, #blob-sm-rsvp {
      display: none;
    }

    #blob-lg-one {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 400px;
      height: 279px;
      z-index:1;
    }

    #blob-lg-two {
      display: block;
      position: fixed;
      top: 10vh;
      right: 4vw;
      width: 204px;
      height: 180px;
      z-index:1;
    }

  }

#landing-page {
    #blob-sm-one {
      display: none;
    }

    #blob-sm-rsvp {
      display: none;
    }

    #blob-lg-one {
      display: block;
      position: fixed;
      top: -10px;
      right: -20px;
      transform: rotate(180deg);
    }

    #blob-lg-two {
      display: block;
      position: fixed;
      bottom: 20px;
      left: 30px;
    }
  }


} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
  #main-content {

    #blob-lg-one {
      display: block;
      position: fixed;
      bottom: -20px;
      left: 20px;
      width: 538px;
      height: 375px;
      z-index:1;
    }
  }
} // end of hg-screen - 1440px
