/*----- COMPONENTS : BUTTONS ----- */


@import "../variables/index";
@import "../mixins/buttons";

.button-green {
  @include button($forest-green, $forest-green, white);
}

.button-white {
  @include button(white, $forest-green, $forest-green);
}

.back-home-btn {
  display: none;
}

.links-decorated {
  position: relative;
  padding: 0px 24px;
  margin-top: 8px;

  a {
    padding-top: 12px;
  }

  a:hover svg.link-decoration {
    transform: translate(20px, 0);
  }

  svg.link-decoration {
    position: absolute;
    top: 0;
    left: 14px;
    transition: 0.3s;
  }
}

.text-link {
  font-family: $body-font;
  font-weight: 300;
}

//  BUTTON ANIMATED

.btn-animated {
  position: relative;
  height: 120px;
  display: flex;
  align-items: center;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  a {
    margin-left: 64px;
    text-transform: uppercase;
    margin-top: 12px;
    position: relative;
    z-index: 100;
    font-size: 2rem;
  }
}


// CURSORS

#info-link-cursor:hover {
  cursor: url(https://res.cloudinary.com/camvillard/image/upload/v1566398639/dixneufoctobre/pizza.svg), pointer;
}

#location-link-cursor:hover {
  cursor: url(https://res.cloudinary.com/camvillard/image/upload/v1566398639/dixneufoctobre/location.svg), pointer;
}

// STATES  FOR BUTTONS

.is-disabled {
  opacity: 0.4;
  color: rgb(20,20,20)
  &:hover {
    cursor: not-allowed;
  }
}

.button-send {
  align-self: flex-end;
  border-radius: 0px;
  width: 100%;
  height: 3.8rem;
  text-align: center;
  font-family:  $body-font;
  color: $forest-green;
  font-weight: 400;
  font-size: 2rem;
  outline: none;
  border: none;
  background: white;
  border: 2px solid white;

  &.is-disabled {
    color: rgb(150,150,150)
  }
}

a.button-send {
  padding: 4px 16px;
}




@media (min-width: $sm-screen) {

  .btn-animated {
    max-width: 60vw;
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  .btn-animated {
    max-width: 55vw;
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .btn-animated {
    max-width: 320px;
  }

  .back-home-btn {
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    text-align: right;
    a {
    font-family: $accent-font;
    font-size: 1.2rem;
    }
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px


