/*----- COMPONENTS : COLUMNS ----- */


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .columns-content {
    display: flex;
    justify-content: space-around;

    .two-columns {
      width: 48%;
    }

    .three-columns {
      width: 32%;
    }
  }

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
