/*----- INDEX FOR COMPONENTS ----- */

.top-container {
  margin-top: 24px;
}

.main-container {
  width: 88vw;
  margin: auto;
  max-width: 1080px;
}

.small-container {
  width: 88vw;
  margin: auto;
  max-width: 624px;
}

.large-container {
  width: 88vw;
  margin: auto;
}

.container-fullpage {
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 32px;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  .top-container {
    margin-top: 124px;
  }

  .main-container {
    width: 82vw;
  }

  .container-fullheight {
    width: 82vw;
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  .main-container {
    width: 62vw;
  }

  .container-fullheight {
    width: 64vw;
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
