/*----- COMPONENTS : FOOTER ----- */

#footer-links {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  padding: 4px;
  background: white;
  text-align: right;
  padding-right: 2vw;
  color: $jaune-moutarde;
  a {
    font-size: 1.2rem;
    color: $jaune-moutarde;
    font-weight: 300;
  }
}

@media (min-width: $sm-screen) {
  #footer-links a{
    font-size: 1.4rem;
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  #footer-links a{
    font-size: 1.6rem;
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
