/*----- COMPONENTS : FOOTER ----- */


.footer-infos {
  width: 80vw;
  margin-left: 12vw;

  hr {
    width: 20%;
    border-color: $forest-green;
    border-width: 0.5px;
  }
}

.footer-names {
  margin-top: .2em;
  font-size: 1.6rem;
  color: $forest-green;
}

.footer-date,
.footer-year {
  margin:  0;
  color: $forest-green;
  font-size: 2.8rem;
  line-height: 1.2;
}

.footer-date {
  font-weight: 700;
}

.footer-address {
  color:  $jaune-moutarde;
  margin-left: 4vw;
}



#footer-links {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  padding: 4px;
  background: white;
  text-align: right;
  padding-right: 2vw;
  color: $jaune-moutarde;
  a {
    font-size: 1.2rem;
    color: $jaune-moutarde;
    font-weight: 300;
  }
}

@media (min-width: $sm-screen) {
  #footer-links a{
    font-size: 1.4rem;
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  footer {
    margin-top: 64px;
  }
  #footer-links {
    display: none
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
