/*----- COMPONENTS : FORMS ----- */
.hidden-input {


}


.form-stroked {

  input,
  select,
  textarea {
    background: none;
    padding: 0;
    width: 100%;
    min-height: 3.6rem;
    margin: 1.2rem auto;
    border: none;
    transition: all 0.2s ease;
    outline: none;
    padding-left: 10px;
    font-weight: 400;
    font-family: $body-font;
  }

  textarea {
    min-height: 12rem;
    padding-top: 12px;
  }

  // states for inputs

  input:focus,
  input:active,
  input:hover,
  input:visited,
  textarea:focus,
  textarea:active,
  textarea:hover,
  textarea:visited {
    outline: none;
    outline-offset: 0px;
    font-family: $body-font;
  }
}

.form-white {
  input,
  select,
  textarea {
    border-bottom: 1px solid white;
    color: white;
    font-family: $accent-font;
  }

  ::placeholder{
    font-family: $accent-font;
    font-weight: 300;
    font-size: 1.2rem;
    color: white;
  }

}

form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  ::placeholder{
    font-family: $accent-font;
    font-weight: 400;
    font-size: 1.4rem;
  }


  button:hover {
    cursor: pointer;
  }

}


// reset button de covoiturage
.button-reset-form {
  // align-self: flex-end;
  border-radius: 0px;
  // width: 100%;
  height: 3.8rem;
  text-align: center;
  font-family:  $body-font;
  color: white;
  font-weight: 400;
  font-size: 1.6rem;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid white;
  margin-top:20px;
}

@media (min-width: $sm-screen) {
  // content

} // end of sm-screen - 768px

@media (min-width: $md-screen) {

} // end of md-screen - 992px


@media (min-width: $lg-screen) {


} // end of lg-screen - 1200px



