/*----- COMPONENTS : HEADER ----- */


header {
  display: none;
}

@media (min-width: $sm-screen) {
  header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;

    #cam-alex {
      z-index: 5;
      padding: 12px 20px 0px 20px;

      h6 {
        text-transform: uppercase;
        margin-bottom: 1rem;
      }
    }

    .small-divider {
      width: 40px;
      margin-left: -22px;
    }

    p {
      margin-top: 1rem;
      padding-left: 20px;
      max-width: 120px;
      font-size: 1.2rem;
    }

  }

  header.dark-header {

    #cam-alex h6 {
      color: $primary-color;
    }

    .small-divider {
      border-top: 1px solid $primary-color;
    }

    p#header-tagline {
      color: $primary-color;
    }

  }

  header.light-header {

    #cam-alex h6 {
      color: white;
    }

    .small-divider {
      border-top: 1px solid white;
    }

    #header-tagline {
      color: white;
    }

  }

} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px


@media (min-width: $lg-screen) {
  header {
    top: 10px;

    #cam-alex {
      padding: 20px 20px 0px 20px;
    }

    p {
      max-width: 160px;
      font-size: 1.6rem;
    }

  }

} // end of lg-screen - 1200px



@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
