/*----- COMPONENTS : HEADER ----- */


header {
  width: 100%;
  margin-top: 0px;
  text-align: right;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h6 {
    margin: 0;
    font-weight: 300;
    font-size: 1.6rem;
  }

  p {
    margin: 0;
    font-size: 1.2rem;
  }
}

header.fixed-header {
  position: fixed;
  top: 12px;
  left: 0px;
}


header.dark-header {

  h6, p {
    color: $forest-green;
  }

  hr{
    border-color: $forest-green;
  }

}

header.light-header {

  h6, p {
    color: white;
  }

  hr{
    border-color: white;
  }

}

@media (min-width: $sm-screen) {

  header {
    h6 {
      margin-bottom: .8rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px


@media (min-width: $lg-screen) {

  header {
    padding-right: 24px;

    p {
      font-size: 1.6rem;
    }
  }

} // end of lg-screen - 1200px



@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
