/*----- PAGES : HOMEPAGE ----- */

#homepage-header {
  position: fixed;
  top: 8px;
  left: 0;
  width: 100%;

  h6 {
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.4rem;
  }
}

.content-homepage {
  width: 90%;
  margin: auto;

  h1 {
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
  }

  .blob-homepage-one {
    width: 100px;
    height: 85px;
    position: fixed;
    top: 24px;
    right: 0px;
  }

  .blob-homepage-two {
    width: 118px;
    height: 106px;
    position: fixed;
    bottom: 32px;
    left: -16px;
  }

  .text-link {
    position: relative;
    height: 32px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  a {
    margin: 0 4px 0 0;
  }
}


#location.text-link {
  justify-content: flex-start;
  padding-left: 40px;

  a:after {
    position: absolute;
    top: 17px;
    left: 94px;
    content: " ";
    background: $forest-green;
    width: 80px;
    height: 1px;
  }
}

#informations.text-link {
  justify-content: flex-end;
  padding-right: 40px;

  a {
    text-align: right;
  }

  a:after {
    position: absolute;
    top: 17px;
    right: 114px;
    content: " ";
    background: $forest-green;
    width: 80px;
    height: 1px;
  }
}


@media (min-width: $sm-screen) {


} // end of sm-screen - 768px

@media (min-width: $sm-screen) and (orientation: portrait) {

  #homepage-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;

    h6 {
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.4rem;
    }
  }

  .content-homepage {
    width: 90%;

    .homepage-center {
      display: flex;
      justify-content: space-between;
    }

    .text-link {
      flex: 0 0 24%;
    }

    h1 {
      font-size:  3.4rem;
    }

    .blob-homepage-one {
      width: 188px;
      height: 166px;
      position: fixed;
      top: 32px;
      right: 32px;
    }

    .blob-homepage-two {
      width: 334px;
      height: 298px;
      position: fixed;
      bottom: 32px;
      left: -20px;
    }
  }

  #location.text-link {
    padding-left: 0px;

    a:after {
      position: absolute;
      top: 17px;
      left: 54px;
      content: " ";
      background: $forest-green;
      width: 80px;
      height: 1px;
    }
  }

  #informations.text-link {
    padding-right: 0px;

    a {
      text-align: right;
    }

    a:after {
      position: absolute;
      top: 17px;
      right: 74px;
      content: " ";
      background: $forest-green;
      width: 80px;
      height: 1px;
    }
  }

} // end of tablets portrait

@media (min-width: $md-screen) {

  #homepage-header {
    top: 24px;

    h6 {
      font-size: 1.6rem;
    }
  }

  .content-homepage {
    width: 60%;
  }

} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  #homepage-header {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 24px;
    width: 100%;

    h6 {
      text-align: center;
      margin: 0;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.4rem;
    }
  }
  .content-homepage {
    width: 60%;

    .homepage-center {
      display: flex;
      justify-content: space-between;
    }

    .text-link {
      flex: 0 0 24%;
    }

    h1 {
      font-size:  3.4rem;
    }

    .blob-homepage-one {
      width: 188px;
      height: 166px;
      position: fixed;
      top: 32px;
      right: 32px;
    }

    .blob-homepage-two {
      width: 211px;
      height: 188px;
      position: fixed;
      bottom: 32px;
      left: 24px;
    }

  }

} // end of lg-screen - 1200px



@media (min-width: $md-screen) {

}

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
