/*----- PAGES : INFORMATIONS ----- */

.horizontal-lign {
  position: relative;
  margin-left: 8px;
}

.horizontal-lign:after {
  content: " ";
  position: absolute;
  top: 56%;
  background: $forest-green;
  width: 52px;
  height: 1px;
}

.border-green {
  border-style: solid;
  border-color: $forest-green;
  border-width: 0.5px;
}


.border-yellow {
  border-style: solid;
  border-color: $jaune-moutarde;
  border-width: 0.5px;
}

#infos-blob-one {
  position: absolute;
  width: 32%;
  top: -20px;
  right: 24px;
  transform: rotate(180deg);
}

#infos-blob-two {
  width: 40%;
  position: absolute;
  bottom: 24px;
  left: 4px;
  transform: rotate(180deg);
}

.infos-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;

  h2 {
    text-align: left;
    margin: 0 0 24px 20px;
  }
}

.infos-summary {

  ul {
    margin-left: 14vw;
  }
  .summary-text {
    margin-left: 64px;
  }
}

.infos-container {
  width: 88vw;
  max-width: 620px;
  margin: 24px auto;
}

#organisation,
#sleeping,
#dresscode,
#gifts,
#good-to-know {
  padding-top: 72px;
}

.infos-header {
  width: 100%;

  h4 {
    font-size: 2.4rem;
    margin: 0;
    text-align: right;
    width: 20%;
    font-weight: 500;
    color: $forest-green;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }

  .border-green {
    width: 20%;
  }

}


.infos-content {
  margin-top: 16px;
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  .infos-header {
    h2 {
      font-size: 2.6rem;
    }

    h4.infos-title span {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  #infos-page {
    .main-container {
      // max-width: 560px;
    }
  }


} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  #infos-blob-one {
    position: absolute;
    width: 38%;
    top: 32px;
    right: 24px;
  }

  #infos-blob-two {
    width: 40%;
    position: absolute;
    bottom: 24px;
    left: -72px;
  }

  .infos-header {

    h4 {
      font-size: 3.6rem;
      width: 120px;
    }

    h2 {
      font-size: 3rem;
    }

    .border-green {
      width: 120px;
    }

  }

  .infos-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;

    h2 {
      text-align: left;
      margin: 0 0 24px 20vw;
      width: 232px;
      line-height: 1.625;
    }
  }

  .infos-summary {

    ul {
      margin-left: 24vw;
    }
    .summary-text {
      margin-left: 64px;
    }
  }

  #organisation {
    margin-left: 24vw;
  }


  #sleeping {
    margin-left: 6vw;
    max-width: 44vw;
  }

  #dresscode {
    margin-top: -240px;
    margin-left: 56vw;
    max-width: 36vw;
  }

  #gifts {
    width: 32vw;

    .btn-animated {
      margin-left: 4vw;
    }
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
