/*----- PAGES : LOCATION ----- */

#location-page {
  h2 {
    margin: 1em auto;
  }

  .text-strong {
    color: $forest-green;

  }

  .ceremony-details {
    margin-bottom: 48px;
  }
}


@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
  #location-page {
    .location-details {
      width: 28vw;
      margin-left: 12vw;
      margin-top: -120px;
    }

    .ceremony-details {
      img {
        width: 75%;
        margin: auto;
      }
    }

    .details-content {
      width: 45%;
      margin-left: 25%;
    }


  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
