/* ------ PAGES : SUCCESS ------ */

#page-payer {
  // background: $jaune-moutarde;

  h1, h5, p {
    color: $forest-green;
  }

  // a {
  //   color: $forest-green;
  // }

  // a:last-child {
  //   padding-left: 16px;
  // }

  .page-container {
    width: 92vw;
    margin: auto;
  }

  .button-green {
    font-weight: 700;
    display: block;
    margin-top: 24px;
    width: 320px;
  }
}


@media (min-width: $md-screen) {

} // end of md-screen - 992px


@media (min-width: $lg-screen) {

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
