/* ------ VARIABLES : BREAKPOINTS ------ */


$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;
$hg-screen: 1440px;

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
