/*----- VARIABLES : COLORS ----- */

$forest-green: #005655;
$jaune-moutarde: #E39D24;
$taupe: #A1716A;
$light-taupe: #EFEAE8;

$primary-color: $forest-green;
$secondary-color: $jaune-moutarde;
$accent-color: $taupe;
$accent-light: $light-taupe;

$light-gray: #F4F4F4;
$medium-gray: #D9D9D9;
$dark-gray: #575759;
