/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/kzs6ilf.css");
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:300,700');


$body-font: 'arboria', sans-serif;
$headers-font: 'arboria', sans-serif;
$accent-font: 'Frank Ruhl Libre', serif;

body {
  font-family: $body-font;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $forest-green;
  font-weight: 700;
  margin: 1em auto 0.4rem;
}

.accent-text, em {
  font-family: $accent-font;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}


p, a, li {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0.8em auto 0.4rem;
}

p {
  color: $dark-gray;
}

// font weights

.text-strong {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}



@media (min-width: $sm-screen) {
  h1 {
    font-size: 4.8rem;

  }

  h2 {
    font-size: 4rem;

  }

  h3 {
    font-size: 3.2rem;

  }

  h4 {
    font-size: 3.2rem;

  }

  h5 {
    font-size: 2rem;

  }

  p, a, li {
    font-size: 1.6rem;
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  h1 {
    font-size: 6.4rem;

  }

  h2 {
    font-size: 5.6rem;

  }

  h3 {
    font-size: 4.8rem;

  }

  h4 {
    font-size: 4rem;

  }

  h5 {
    font-size: 3.2rem;

  }

  h6 {
    font-size: 2.4rem;

  }

  p, a, li {
    font-size: 1.8rem;
  }
} // end of md-screen - 992px

@media (min-width: $lg-screen) {


} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px



