body#contact {
  // height: 100vh;
  // width: 100vw;
  background: $primary-color;

}

// page

#contact-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 80vw;
  margin: auto;
}

// content
.contact-content {
  color: white;
  max-width: 80%;
  font-weight: 300;
}

.back-home-link {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: $secondary-color;
  text-align: center;
  a {
    width: 100%;
    color: $primary-color;
  }
}


// form styling

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box !important;

  input {
    padding: 0;
    width: 100%;
    height: 3rem;
    margin: 1.2rem auto;
    border: none;
    border: 2px solid white;
    background: $primary-color;
    transition: all 0.2s ease;
    outline: none;
  }

  ::placeholder {
    color: white;
    font-family: $accent-font;
    font-weight: 300;
    font-size: 1.4rem;
    padding-left: 10px;
  }

  input[type="textarea"] {
    height: 8rem;
  }


  // states for inputs

  input:focus,
  input:active,
  input:hover,
  input:visited {
    background: $secondary-color;
    border: 2px solid $secondary-color;
    outline: none;
    outline-offset: 0px;
    font-family: $accent-font;
    padding-left: 10px;
  }

  button.button-send {
    border-radius: 0px;
    width: 100%;
    height: 3.6rem;
    background: white;
    text-align: right;
    font-family: $accent-font;
    color: $primary-color;
    font-weight: 700;
    font-size: 2rem;
    outline: none;
    border: none;
    border: 2px solid white;
  }

  button:hover {
    cursor: url(https://res.cloudinary.com/camvillard/image/upload/v1555620171/blobs_1.png), pointer;
  }


}

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  .contact-content {
    width: 50%;
  }
  form {
    width: 50%;
  }
} // end of md-screen - 992px


@media (min-width: $lg-screen) {


} // end of lg-screen - 1200px



@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
