/* ------ PAGES : RSVP ------ */


#contact-container {
  background: $forest-green;
}

// page



// content

.contact-container {


  .page-title {
    color: white;
    margin-bottom: 32px;
  }


  .page-title span {
    padding-bottom: 8px;
    border-bottom: 4px solid white;
  }

  p.contact-content{
    color: white;
    font-weight: 300;
  }

}

.back-home-link {
  position: absolute;
  bottom: 0;
  width: 100vw;
  background: $jaune-moutarde;
  text-align: center;
  a {
    width: 100%;
    color: $forest-green;
  }
}


// form styling

form#contact-form {
  margin: auto;

  // input,
  // textarea {
  //   background: $forest-green;
  // }

  ::placeholder {
    color: white;
  }

  // states for inputs

  input:hover,
  input:focus,
  input:active,
  input:visited,
  textarea:focus,
  textarea:active,
  textarea:hover,
  textarea:visited {
    background: $jaune-moutarde;
    border: 2px solid $jaune-moutarde;
    outline: none;
    outline-offset: 0px;
    font-family: $body-font;
  }

  button {
    color: $forest-green;
  }

}

@media (min-width: $sm-screen) {
  // content
  .contact-content {
    // width: 65%;
  }

} // end of sm-screen - 768px



@media (min-width: $md-screen) {
  .contact-content {
    // width: 50%;
  }

} // end of md-screen - 992px


@media (min-width: $lg-screen) {


} // end of lg-screen - 1200px



@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
