
#covoit-container{
  background: #E39D24;
}


.covoit-form p {
    font-family: $accent-font !important;
    font-weight: 300 !important;
    font-size: 1.2rem !important;
    color: white !important;
    margin-bottom:16px;
}

.covoit-form {
  margin-bottom:24px;
}

.covoit-form-container {
  width: 88vw;
  margin: auto;
  max-width: 624px;
}

.covoit-radio-btn {
  display: inline-block;
  align-items: center;
  margin: 20px;
}

.radio-btn-style {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: $accent-font;
  color: white;
  font-weight: 300;
  font-size: 1.2rem;
  user-select: none;
}

.radio-btn-style input{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-btn-style .radio-btn-span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #E39D24;
  border: 1px solid white;
  position: absolute;
  top: -30px;
  left: 0px;
}


.radio-btn-style:hover .radio-btn-span {
  background-color:$forest-green;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-btn-span:after {
    content: "";
    position: absolute;
    display: none;
  }
/* Show the indicator (dot/circle) when checked */
.radio-btn-style input:checked ~ .radio-btn-span:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn-style .radio-btn-span:after {
  left: 11px;
  top: -8px;
  width: 9px;
  height: 24px;
  border: solid #005655;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

