/* ------ PAGES : RSVP ------ */

body#rsvp {
  background: $jaune-moutarde;
}

#rsvp-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#form-rsvp {
  input,
  textarea {
    background: $jaune-moutarde;
  }

  select {
    font-family: $accent-font;
    border: 2px solid white;
    border-radius: 0px !important;
    color: white;
    background: $jaune-moutarde;
  }

  select:focus {
    outline-offset: 0px;
    outline: none;
  }

  // states for inputs
  input:focus,
  input:active,
  input:hover,
  input:visited,
  textarea:focus,
  textarea:active,
  textarea:hover,
  textarea:visited {
    background: $forest-green;
    border: 2px solid $forest-green;
    outline: none;
    outline-offset: 0px;
    font-family: $body-font;
  }

  ::placeholder{
    color: white;
  }

  button{
    color: $jaune-moutarde;
    align-self: flex-end;
    width: 100% !important;
  }
}

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px


@media (min-width: $lg-screen) {

} // end of lg-screen - 1200px


@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
