/* ------ PAGES : SAVETHEDATE ------ */

* {
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#savethdedate-content {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

#date {
  z-index: 5;
  position: relative;
  text-align: center;
  align-self: center;

  h1 {
    color: $primary-color;
    margin-bottom: 0px;
    font-family: $accent-font;
  }

  h5 {
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    color: $secondary-color;
    padding-left: 20px;

    span {
      padding-bottom: 12px;
    }
  }
}

#rsvp-cta {
  margin-top: 20px;
  margin-bottom: 100px;
  margin-right: 20px;
  background: $primary-color;

    a {
      display: block;
      font-size: 6rem;
      color: white;
      padding: 10px 10px 12px 10px;
      text-align: right;
      margin-bottom: 0px;
    }

  &:hover {
    cursor: pointer;
  }
}

#links {
  position: fixed;
  bottom: 20px;
  padding: 20px;
  color: $secondary-color;
  a {
    color: $secondary-color;
    cursor: pointer;
  }
}

#footer-title {
  h3 {
    opacity: 0.1;
    bottom: -28px;
    left: -16px;
    font-size: 10rem;
    position: fixed;
    color: white;
  }
  a {
    color: white;
    bottom: 2rem;
    left: 20px;
    font-size: 1.6rem;
    position: fixed;
  }
}



@media (min-width: $sm-screen) {
  #footer-title {
    h3 {
      bottom: -40px;
      left: -16px;
      font-size: 18rem;
    }
    a {
      bottom: 4rem;
      left: 40px;
      font-size: 2rem;
    }
  }
} // end of sm-screen - 768px

@media (min-width: $md-screen) {

  #rsvp-cta {
    margin-bottom: 20px;
  }

  #footer-title {
    h3 {
      bottom: -54px;
      left: -24px;
      font-size: 24rem;
    }
    a {
      bottom: 4rem;
      left: 40px;
      font-size: 2.2rem;
    }
  }
} // end of md-screen - 992px


@media (min-width: $lg-screen) {

  #date {
    z-index: 5;
    position: relative;
    text-align: center;
    align-self: center;

    h2 {
      font-size: 10rem;
    }

    h5 {
      margin-bottom: 1.8rem;
      font-size: 1.4rem;
      padding-left: -20%;

      span {
        padding-bottom: 12px;
        // border-bottom: 3px solid $secondary-color;
      }
    }
  }

  #rsvp-cta {
    margin-bottom: 10px;
  }

} // end of lg-screen - 1200px



@media (min-width: $hg-screen) {
  #footer-title {
    h3 {
      bottom: -64px;
      left: -30px;
      font-size: 28rem;
    }
    a {
      bottom: 5rem;
      left: 40px;
      font-size: 2.2rem;
    }
  }
} // end of hg-screen - 1440px
