/* ------ PAGES : SUCCESS ------ */

#landing-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1, h5 {
    color: $forest-green;
    font-family: $accent-font;
  }

  h1 {
    font-weight: 700;
  }

  h5 {
    font-weight: 300;
  }


  a{
    color: $jaune-moutarde;
  }

  // a {
  //   position: fixed;
  //   bottom: 20px;
  // }
}



@media (min-width: $md-screen) {

} // end of md-screen - 992px


@media (min-width: $lg-screen) {

} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px
