/*----- MIXINS : BUTTONS ----- */

@mixin button($main-color, $border-color, $text-color) {
  background: $main-color;
  padding: 4px 16px;
  border-radius: 22px;
  border: 2px solid $border-color;
  margin: 8px 16px;
  a {
    color: $text-color;
    text-decoration: none;
  }
}
